* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
:root {
  --primary--color: #f1f5f9;
  --second--color: #0ea5e9;
  --third--color: #22c55e;
  --four--color: #64748b;
}
body {
  background-color: var(--primary--color);
}
header {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-family: "Nunito Sans", sans-serif;
  padding: 15px;
  align-items: center;
  .logo {
    padding-left: 10px;
    a {
      display: flex;
      align-items: center;

      text-decoration: none;
    }
    h4 {
      padding-left: 8px;
      color: #475569;
      font-weight: 800;
      font-size: 16px;
    }
  }

  .bar-seach {
    width: 60%;

    input {
      width: 320px;
      padding: 8px;
      padding-left: 40px;
      border: none;
      border-radius: 999px;
      background-color: var(--primary--color);
      background-image: url(../image/Outline/lupa.svg);
      background-repeat: no-repeat;
      background-position-x: 11px;
      background-position-y: 5px;

      &::placeholder {
        color: #94a3b8;
      }
    }
  }
  .perfil {
    display: flex;
    gap: 20px;

    a {
      gap: 5px;
      text-decoration: none;
      display: flex;
      align-items: center;

      p {
        color: #475569;
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  header {
    .logo {
      padding-right: 5px;
      h4 {
        display: none;
      }
    }
    .perfil {
      a {
        p {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 530px) {
  header {
    .bar-seach {
      input {
        width: 100%;
      }
    }
  }
}
main {
  display: flex;
  font-family: "Nunito Sans", sans-serif;
  .menu {
    padding-top: 20px;
    color: var(--four--color);

    a {
      color: var(--four--color);
      text-decoration: none;

      .name-dash {
        display: flex;
        padding-left: 20px;
        align-items: center;
        h4 {
          padding-left: 15px;
          font-size: 16px;
        }
        span {
          padding-left: 50px;
        }
      }
      .name-resources {
        padding-top: 10px;
        display: flex;
        padding-left: 20px;
        align-items: center;
        h4 {
          padding-left: 13px;
          font-size: 16px;
        }
        span {
          padding-left: 63px;
        }
      }
      .list {
        display: none;
        ul {
          list-style: none;
          padding-left: 53px;
          li {
            font-weight: 400;
            font-size: 14;
            span {
              color: var(--second--color);
              font-weight: 800;
            }
          }
        }
      }
    }

    a:focus {
      color: var(--four--color);
      .list {
        display: block;
        animation-name: anime;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
      }
    }

    i:hover {
      color: var(--second--color);
    }
    i:focus {
      transform: rotate(180deg);
      transition: 0.3s;
    }
    h4:hover {
      color: var(--second--color);
    }
    li:hover {
      color: var(--second--color);
    }
  }
  .body-lateral {
    .bloc {
      padding-top: 30px;
      padding-left: 40px;
      .bloc-users {
        width: 340px;
        height: 160px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
          0px 1px 2px -1px rgba(0, 0, 0, 0.1);
        .top-bloc {
          display: flex;
          justify-content: space-between;
        }
        .bar-grafic {
          width: 56px;
          height: 56px;
          background-color: var(--second--color);
          display: flex;
          justify-content: center;
          align-items: center;

          border-radius: 8px;
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
